.hero {
    display: flex;
    flex-direction: column; 
    padding-left: 4rem;
    padding-top: 4rem;
    gap: 1rem; 
  }
  
  .contentWrapper {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    gap: 1rem; 
    width: 100%; 
  }
  
  .heroImgDiv {
    background-color: hotpink;
    width: 400px;
    height: 400px;
  }
  
  .hero h1 {
    flex: 1; 
    font-size: 70px; 
    letter-spacing: 12px;
  }
  
  .heroBtn {
    margin-top: 20px; 
    padding: 10px 20px; 
    width: auto; 
    align-self: flex-start; 
    font-size: 25px;
  }
  